*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#10123C,#2B31A1,#10123C)

}

.container{
    align-items: center;
    text-align: center;
    border: 1px solid grey;
    box-shadow: 10px 0px 10px;    
    margin: 20px;
    
}


input{
    padding: 35px;
    margin: 10px;
    width: 300px;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;    
    font-size: 52px;
    color: white;
    text-align: right;
}

input::placeholder{
    font-size: 62px;
    text-align: right;
    color: white;
    text-align: right;
    
    

}

button{
    padding: 15px;
    margin:15px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color:#10123C;
    font-size: 26px;
    text-align: center;
    width: 60px;
    height: 60px;
    color:white;
    box-shadow:2px 1px 1px 1px;
}

